PORT=4000
ERP_BASE=https://gorealla.heptanesia.com
ERP_TOKEN=Bearer eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQWRtaW4iLCJjdXN0b21lcklkIjoiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAxIiwidXNlcklkIjoiMDM0YzdjZmQtNGU0Ny00ZTAzLWE2NGYtODc0ZjEyMjk1NmIwIiwiY3VzdG9tZXJOYW1lIjoiSmV0IFJlYWx0eSBMaW1pdGVkIiwic3ViIjoiOTgyMDE4OTcxOSIsImlzcyI6ImdvcmVhbGxhLWRldmVsb3BlciIsImlhdCI6MTc2MDY4MjI5NCwiZXhwIjoxNzYwNzY4Njk0fQ.OpU8dqnwSpkcyUzwZbRkDCh0i_x4x9U3sXQBkO_6Df_T-_gFVMCTkvUq4eNfXIuyEJRVMtAqnFfd_4lNnLCujQ
